.page {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 280px;
  min-height: 100vh;
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  padding: 28px 0 24px;
}


