.photo-grid {
 padding: 0 48px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  gap: 16px;
  justify-content: stretch;
}

@media screen and (max-width: 1152px){
  .photo-grid__item {
    gap: 14px;
  }
  
}