.lead {
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1150px) {
.lead {
  padding: 0 48px;
}
}

@media screen and (max-width: 896px) {
  .lead {
    padding: 0;
  }
}


  
