.lead {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 148px;
  box-sizing: border-box;
}

@media screen and (max-width: 1150px) {
  .lead {
    padding: 0 48px;
  }
}

@media screen and (max-width: 896px) {
  .lead {
    padding: 0;
  }
}
