.page__content {
  margin: 56px 0 92px 0;
 
}

@media screen and (max-width:1152px) {
 .page__content {
  margin: 48px 0 88px 0;
  
}
}

@media screen and (max-width:540px) {
  .page__content {
   margin-bottom: 66px;
 }
 }