.page__content {
  margin-top: 56px;
  margin-right: auto;
  margin-bottom: 92px;
  margin-left: auto;
}

@media screen and (max-width: 1152px) {
  .page__content {
    margin-top: 48px;
  }
}

@media screen and (max-width: 896px) {
  .page__content {
    margin-top: 48px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 540px) {
  .page__content {
    margin-bottom: 64px;
  }
}
