.content {
display: grid;
row-gap: 92px;
}

@media screen and (max-width: 896px) {
  .content {
    row-gap: 88px;
  }
  }

@media screen and (max-width: 540px) {
  .content {
    row-gap: 64px;
  }
  }