.lead__title {
  margin: 0 auto;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media screen and (max-width: 724px) {
  .lead__title {
    font-size: 60px;
    line-height: 1.1;
    max-width: 450px;
  }
}
@media screen and (max-width: 540px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    max-width: 288px;
  }
}