.footer__links {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: 1fr;
  column-gap: 18px;
}

@media screen and (max-width: 714px) {
  .footer__links {
    grid-template-columns: 1fr;
    row-gap: 32px;
    margin-bottom: 48px;
  }
}
