.lead__subtitle {
  margin: 32px 0 64px;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1156px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 724px) {
  .lead__subtitle {
    font-size: 24px;
    line-height: 1.25;
    max-width: 500px;
  }
}

@media screen and (max-width: 540px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 288px;
    margin: 16px 0 40px;
  }
}
