.cover__title {
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
}

@media screen and (max-width: 540px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}
