.place {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 48px;
}
@media screen and (max-width: 1150px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 896px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 540px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}
