.page__footer {
  margin: 0;
  padding: 0 48px;
}

@media screen and (max-width: 896px) {
  .page__footer {
  padding: 0 24px;
}
}
  
@media screen and (max-width: 724px) {
  .page__footer {
    padding: 0 16px;
  }
}