.place__website {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media screen and (max-width: 540px) {
  .place__website {
    margin: 0 16px;
  }
}
