.cover__item {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  }

.cover__item::before {
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.cover__item:hover::before {
   opacity: 0.8;
}

@media screen and (max-width: 1150px) {
  .cover__item {
    min-height: 640px;
  }
  
}

@media screen and (max-width: 896px) {
  .cover__item {
    min-height: 480px;
  }
  }

  @media screen and (max-width: 540px) {
    .cover__item {
      min-height: 200px;
    }
    }